---
layout: default
title: articles
permalink: /articles/
---

{% for category in site.categories %}
{% if category[0] == "article" %}

<h1 style="text-align: center">Articles</h1>
<div class="container">
    <div class="row">
        <div class="col col-12 col-t-8">
            <div class="row">
                {%- for post in category[1] -%}
                <article class="article col col-12 col-t-6">
                    <div class="article-box">
                        <div class="article-head">
                            <a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{site.baseurl | append : post.background}})">
                                <div class="image-overlay">
                                    <span class="image-overlay-text">{{post.title | slice: 0}}</span>
                                </div>
                            </a>
                        </div>
                        <div class="article-content">
                            <div class="article-info">
                                <div class="article-date">
                                    <span class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
                                </div>
                                <div class="article-tag">
                                    {% if post.tags.size >= 1 %}
                                    {% for tag in post.tags %}
                                    <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
                                    {% endfor %}
                                    {% else %} {% endif %}
                                </div>
                            </div>
                            <h2 class="article-title">
                                <a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                            </h2>
                            <p class="article-excerpt">{% if post.subtitle %}{{ post.subtitle | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p>
                        </div>
                    </div>
                </article> <!-- /.article -->
                {% endfor %}
            </div>
            {% include pagination.html %}
        </div>
        <div class="col col-12 col-t-4">
            {% include sidebar.html %}
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
