---
layout: default
---
<div class="container">
	<div class="row">
	{% if site.posts.size > 0 %}
		{%- for post in paginator.posts -%}
		{% if forloop.index <= 1 %}
		<div class="col col-12">
			<article class="article-first">
				<div class="article-image-first" style="background-image: url({{site.baseurl | append : post.background}})">
					<div class="article-content-first">
						<div class="article-tag">
						{% if post.tags.size >= 1 %}
							{% for tag in post.tags %}
							<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
							{% endfor %}
						{% else %} {% endif %}
						</div>
						<h2 class="article-title" style="background-color: #3F51B5; padding: 5px"><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h2>
						<p class="article-excerpt" style="background-color: #3F51B5">{% if post.subtitle %}{{ post.subtitle | strip_html | truncate: 163 }}{% else %}{{ post.content | strip_html | truncate: 163 }}{% endif %}</p>
						<a href="{{ post.url | prepend: site.baseurl }}" class="button read-more">Read More</a>
					</div>
				</div>
			</article> <!-- /.article-first -->
		</div>
		{% endif %}

		{% endfor %}
	{% endif %}
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col col-12 col-t-8">
			<div class="row">
			{%- for post in paginator.posts offset: 1 -%}
				<article class="article col col-12 col-t-6">
					<div class="article-box">
						<div class="article-head">
							<a href="{{ post.url | prepend: site.baseurl }}" class="article-image" style="background-image: url({{site.baseurl | append : post.background}})">
								<div class="image-overlay">
									<span class="image-overlay-text">{{post.title | slice: 0}}</span>
								</div>
							</a>
						</div>
						<div class="article-content">
							<div class="article-info">
								<div class="article-date">
									<span class="date"><time datetime="{{ post.date | date_to_xmlschema }}">{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}{{ post.date | date: date_format }}</time></span>
								</div>
								<div class="article-tag">
								{% if post.tags.size >= 1 %}
									{% for tag in post.tags %}
									<a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
									{% endfor %}
								{% else %} {% endif %}
								</div>
							</div>
							<h2 class="article-title">
								<a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
							</h2>
							<p class="article-excerpt">{% if post.subtitle %}{{ post.subtitle | strip_html | truncate: 135 }}{% else %}{{ post.content | strip_html | truncate: 135 }}{% endif %}</p>
						</div>
					</div>
				</article> <!-- /.article -->
			{% endfor %}
			</div>
			{% include pagination.html %}
		</div>
		<div class="col col-12 col-t-4">
			{% include sidebar.html %}
		</div>
	</div>
</div>
