// Sidebar
.sidebar {
  margin-bottom: 30px;
}
.widget {
  padding: 40px 15px;
  margin-bottom: 30px;
  background: rgba($blue-darken, .95);
  box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
  .widget-title {
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 21px;
    text-align: center;
    &:after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      display: block;
      width: 50px;
      height: 2px;
      background: $border-color;
    }
  }
}

// Recent Widget
.recent-posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  &:hover{
    .recent-image {
      &::before {
        background: rgba(0, 0, 0, .15);
        transition: all .5s ease;
      }
    }
    .recent-content {
      .recent-title {
        a {
          color: $link-color-hover;
        }
      }
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
  .recent-header {
    width: 100%;
    margin-bottom: 10px;
    background: $black;
    &.reveal-in {
      .recent-image {
        opacity: 1;
      }
    }
  }
  .recent-image {
    position: relative;
    display: block;
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $black;
    box-shadow: 0 9px 18px 0 rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: all 1s cubic-bezier(0.6, 0.3, 0, 1);
    &:after {
      content: "";
      display: table;
      padding-top: 20%;
    }
    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transition: all .5s ease;
    }
  }

  .recent-content {
    margin: 5px 0;
    .recent-title {
      margin-bottom: 0;
      font-weight: 700;
      a {
        font-size: 18px;
        color: $text;
      }
    }
    .recent-date {
      font-size: 12px;
      color: $gray-blue;
    }
  }
}

// Social Widget
.social-profiles {
  text-align: center;
  .social-profiles-item {
    display: inline-block;
    margin: 3px;
  }
  .social-profiles-link {
    display: inline-block;
    line-height: 16px;
    padding: 8px 10px;
    border: 1px solid $border-color;
    border-radius: $primary-color;
    color: $primary-color;
    &:hover {
      background: $primary-color;
      color: white;
    }
    i {
      font-size: 18px;
    }
  }
}

// Instagram Widget
.widget-instagram {
  .instagram-box {
    text-align: center;
    .instagram-grid {
      margin-bottom: 30px;
    }
    .instagram-item {
      width: 33.333%;
      padding: 3px;
      float: left;
      overflow: hidden;
      a {
        position: relative;
        display: block;
        &:after {
          content: "";
          position: absolute;
          top: 0;
          display: block;
          height: 100%;
          width: 100%;
          background: rgba($blue-darken, .3);
          transition: $global-transition;
        }
        &:hover {
          &:after {
            background: transparent;
          }
        }
      }
    }
    .instagram-prof {
      font-size: 14px;
      color: #3E4250;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

// Newsletter Widget
.widget-newsletter {
  text-align: center;
  .newsletter-subtitle {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .newsletter-text {
    max-width: 170px;
    margin: 0 auto 30px;
    font-size: 14px;
    line-height: 19px;
  }
  .newsletter-group-top {
    position: relative;
  }
  .email-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 22px;
    transform: translateY(-50%);
    color: rgba(44, 47, 54, 0.4);
  }
  .newsletter-email,
  .newsletter-button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
  }
  .newsletter-email {
    padding: 15px 15px 15px 33px;
  }
  .newsletter-button {
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    color: $white;
    background: $blue-black;
    transition: $global-transition;
    &:hover {
      background: $primary-color;
    }
  }
}

// Tags Widget
.tag-list {
  .tag-item {
    display: inline-block;
    margin: 3px;
    &:last-child {
      margin-right: 0;
    }
    .tag {
      display: inline-block;
      padding: 5px 15px;
      font-size: 12px;
      border-radius: $global-radius;
      color: $text;
      background: $blue-black;
      &:hover {
        color: $white;
        background: $primary-color;
      }
    }
  }
}

// Media
@media only screen and (min-width: 576px) {
  .widget {
    padding: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .recent-posts {
    .recent-header {
      margin-bottom: 5px;
    }
    .recent-image {
      height: 120px;
    }
    .recent-content {
      .recent-title {
        a {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  .recent-posts {
    flex-wrap: nowrap;
    .recent-header {
      width: auto;
      margin-right: 15px;
    }
    .recent-image {
      width: 110px;
    }
  }
}