---
layout: default
---
<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="post-image-box">
                <div class="post-image"
                     style="background-image: url({{ site.baseurl | append : page.background}})"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <article class="post" style="width: 100%">
            <div class="post-content">

                <div class="post-head">
                    {% if page.tags.size >= 1 %}
                    <div class="post-tag">
                        {% for tag in page.tags %}
                        <a href="{{ site.baseurl }}/tags#{{tag}}" class="tag">{{ tag }}</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <h1 class="post-title">{{ page.title | escape }}</h1>
                    <div class="post-info">
                        <div class="post-info-author">
                            <div class="info-author-avatar" style="background-image: url({{"
                            /img/" | prepend: site.baseurl | append : site.author-avatar}})">
                        </div>
                        <span>by</span>
                        <span class="info-author-name">{{site.author-name}}</span>
                    </div>
                    <div class="post-date">
							<span>
								<time datetime="{{ page.date | date_to_xmlschema }}">{{page.date | date: '%b %d, %Y'}}</time> on
							</span>
                    </div>
                    {% if page.published %}
                    <div class="post-date">
                        <a
                                href="https://{{ page.published }}"
                                style="border-radius: 4px; background-color: #3F51B5; color: white; padding: 5px; margin: 20px">
                            {{ page.published |split: "/" | first }}
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
            <b>{{ page.subtitle }}</b><br/><br/>

            {{ content }}

            <iframe id="frame"
                    width="100%"
                    height="{{ page.height }}"
                    style="border: none"
                    src="{{ page.iframe }}"></iframe>
        </article>
    </div>
</div>